.app {
  width: 500px;
  margin: 20px auto;
}

.content {
  padding: 20px;
}

section {
  background: #dae5e7;
  padding: 10px;
}

.row {
  display: flex;
  flex-direction: column;
  font-size: 24px;
}

label {
  font-size: 16px;
  color: #333;
  padding: 0 5px;
}

input {
  font-size: 24px;
  background: #dae5e7;
  border: 0;
  outline: 0;
  padding: 10px 5px;
  border-radius: 5px;
}

input:focus {
  background: #ccc;
}

input::selection {
  background: #ffc600;
}
